<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head'); %>
    </head>
    <body class="container">
        <main>
            <div class="jumbotron">
                <h1>Welcome to twitch streaming service</h1>
                <p>We are excited to have you here</p>
                <p>To get our service, you need to <a href="/auth/twitch">log in</a> to twitch</p>
            </div>
        </main>
        <footer><%- include('../partials/footer'); %></footer>
    </body>
</html>
