<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img
        width="40px"
        src="https://static.twitchcdn.net/assets/drops-accordion-3ae616396c1df51193ba.png"
    />
    <ul class="navbar navbar-expand-lg navbar-nav" style="display: flex; flex-direction: row">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item px-2">
            <a class="nav-link" href="/streams">Streams</a>
        </li>
    </ul>
</nav>
